@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
/*parte ciano do sobre*/
.Novo__Grid{
    display: grid;
    
}
.Novo__Grid .logo__Nov {
    grid-area: logo__Nov; 
    height: 130px; 
    width: 120px; 
    border-radius: 10px; 
    border: 1px solid white;  
    margin-left: 30%;
    background-image: url(../Imagens/Logo.JPEG);
    background-size: 100% 100%;
}

.Novo__grid-template{
  background-image: url(../Imagens/Navbar_back.png);
    height: 31vh;
    width: 100%;
	grid-template-areas:
		"logo__Nov Menu Criar"
		"logo__Nov barra_Buscar incons_Compra"
		;
    
    background-size: 100% 31vh;
}
.item__Novo {
	margin: 1px;
    max-width: 100%;
    max-height: 100%;
    

}
.Menu__Novo{
    grid-area: Menu__Novo;
    list-style: none; 
    box-sizing: border-box;
    align-items: center; 
    justify-content: center;
    max-width: 100%;
}
.Nova__NavBar .item__Novo .Menu__Novo .dropdown-menu{
    background: #e7693b;
    width: 90%;
    z-index: 9999;
    text-decoration:none;
}
.Nova__NavBar .item__Novo .Menu__Novo li a {
    text-decoration:none;
    text-transform:uppercase;
    width: 100%;
    color: white;}

.Nova__NavBar .item__Novo .Menu__Novo li a:focus,
.Nova__NavBar .item__Novo .Menu__Novo li a:hover,
.Nova__NavBar .item__Novo .Menu__Novo li a.active{
    color:#E08B53;
}
.subContainer{
    text-align: center;
    list-style: none; 
    display: flex; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
    font-size: 20px; 
    box-sizing: border-box;
}
.subContainer > li{
    width: 100%;
}

.Criar{
    grid-area: Criar;
    box-sizing: border-box;
    max-width: 100%;
    list-style: none;
    font-size: 18px; 
    
}
.CriarConta__subcontainer01{
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    width:100%;
}
.Nova__NavBar .item__Novo .Criar li a {
    text-decoration:none;
    color: white;}

.Nova__NavBar .item__Novo .Criar li a:focus,
.Nova__NavBar .item__Novo .Criar li a:hover,
.Nova__NavBar .item__Novo .Criar li a.active{
    color:#E08B53;
}


.barra_Buscar{
    grid-area: barra_Buscar;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input[type=search]{
    box-shadow: 10px 10px 4px (black,.4);
    background: white;
    border: 2px solid #e7693b;
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 15px 0 0 15px;
    font-size: 1.4em;
    font-weight: 300;
    padding: 0 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #68C8C7;
}
::placeholder{
    color: #68C8C7;
    font-size: .8em;
}
.btn_Buscar{
    box-shadow: 10px 10px 4px rgba(black,0,0,0.,.4);
    height: 50px;
    width: 55px;
    outline: none;
    border-radius: 0 15px 15px 0;
    background: #e7693b;
    color:white;
    border: none;
    font-size: 2.3em;
}
.incons_Compra{
    grid-area: incons_Compra;
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.icon .fa{
    border:3px solid white;
    padding:11px;
    border-radius: 100%;
    color:#FFF;
    font-size:20px;
    
    
}
.btn-primary{
    height: 50px;
    width: 80px;
}
.btn .fa-bars{
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.caixaMenu-container{
    border: solid;
    margin-top: -100px;
    
}

#caixa_menu > ul{
    text-align: left;
    justify-content: center;
    list-style: none;
    background-color: #DCDCDC;
    width: 240px;
    height: 100%;
    font-size:20px;

}
#caixa_menu  ul  li{
    outline: 0;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}
#caixa_menu  ul  li a{
    color:#E08B53;
    font-size: 25px;
    text-transform: uppercase;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  height: 500px;
}
#myCarousel{
margin-top: 10px;
margin-left: calc(-25vw + 50%);
margin-right: calc(-25vw + 50%);
height: 10%;
}
body{
  overflow-x: hidden;
}
.Sobre{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.Retangulo_Sobre{
width: 30%;
height: 50%;
background: #EBA263;
border-radius: 10px;

}
.Conteuto_Sobre{
  display: flex; 
  margin-top: 40px;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom: 50px;
}

.grid-item {
  background-color: #fff;
  /*border: 2px solid #E5E5E5;*/
  padding: 20px;
  font-size: 30px;
  border-radius: 15px;  
  text-align: center;
  font-size: 20px;
}
.grid-item > .form-control {
  border: 2px solid #68C8C7;
}
.Item__Mensagem {
  background-color: #E5E5E5;
  border: 2px solid #68C8C7;
  border-radius: 15px; 
  padding: 20px;
  font-size: 20px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
}
textarea{
  resize: none;
}
.cartao_Novidades{
  margin-top: 10px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  border-radius: 15px;
  transition: transform .2s;
}
.corpo_Cartao{
  padding: 10px;
  margin-top: -50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease-in-out;
}
.Primeira_imagem{
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cartao_Novidades:hover{
  transform: scale(1.02);
}
.corpo_Cartao > .cor_Cartao_Ocul 
{
  visibility: hidden;
}
.cartao_Novidades:hover > .corpo_Cartao{
  margin-top: -0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.cartao_Novidades:hover > .corpo_Cartao > .cor_Cartao_Ocul {
  visibility: visible;
}
#rodape1
{
  clear: both;
  height:100px;
  background:#68C8C7;
  border:0;
  padding:0;
  margin:0; 
  text-align: center;

}
#rodape2
{
  clear: both;
  height:100px;
  background:#E08B53;
  border:0;
  margin:0; 
  padding:13px 0; 
  text-align: center;
}

#rod{
  margin-right:50px;
  margin-bottom: 50px;
}
.barra_nav{
  list-style: none;
  float:left;
  margin-top:2%;
  margin-left: 30%;
}
.barra_nav > li{
  flex-grow: 1;
}
.barra_nav > li > a{
  position:relative;
  display:inline-block;
  margin:0;
  padding:3px 5px;
  font-size:17px;
  color:#fff;
}
.teste01{
  float:right;
  margin-left: 30%;
}

.Pagina_Criar_Conta{
  
  padding:2% 0 0;
  margin:0 auto;
  
 
}
.form{
  position: relative;
  justify-content: center;
  z-index: 100;
  height: 100%;
  background: #FFFFFF;
  max-width: 900px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  
  
}
.form_registro_1 input{
  font-size: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;

  
  
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #E08B53;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 5px;
  
  
}
.form button:hover,.form button:active,.form button:focus {
  background: #68C8C7;
}
.genero{
  font-size: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 6px;
  
}

#sobre{
  width: 20%;
  height: 50%;
  
  background: #EBA263;
  border-radius: 10px;
}
.grid-template{
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "logo nav nav"
  "logo content advert";
}
.primeiraImagem{
  position: absolute;
  right: 50%;
  top: 40%;
  width: 200px;
  border: 3px solid #ffffff;
  
}

.segundaImagem{
  position: absolute;
  right: -150%;
  width: 200px;
  border:  solid rgb(255, 255, 255);
}

.produtoA{
  position: absolute;
  right: 50%;
  margin-top: 5%;  
}

.compra{
  position: absolute;
 border: (255, 255, 255) 2px solid ;
 width: 350px;
 right: 30%;
 margin-top: 5%;
}

.quantidade{
  position: absolute;
  border: (255, 255, 255) 2px solid ;
  width: 350px;
  right: 34%;
  margin-top: -0%;
}

.comprar{
  position: absolute;
  right: -2%;
  margin-top: 40%;


}

.alterar{
  position: absolute;
  right: 40% ;
  
}

.descricao{
    position: absolute;
    right: 40%;
    margin-top: 17%;
}
